<div>
    <%= @message if @message.present? %>
</div>

<h1 class="homepage">Welcome!</h1>

<h2 class="homepage">Thank you for your interest in volunteering with Impact.</h2>

<p>Impact is a volunteer run organisation providing assistance to women and children fleeing extreme violence at home via agencies delivering crisis accommodation.</p>

<p>We are always looking for new volunteers. Please click below to <span class="homepage">register for emails</span> about our events and volunteer opportunities.</p>

<a href="/reg_users/new">Click here to register.</a>
>>>>>>> working on styles
