<div>
    <%= @message if @message.present? %>
</div>

<div class="homepage-wrapper">
	<h1 class="homepage">Welcome!</h1>

	<h2 class="homepage">Thank you for your interest in volunteering with Impact.</h2>

	<p>Impact is a volunteer run organisation providing assistance to women and children fleeing extreme violence at home via agencies delivering crisis accommodation.</p>

	<p class="highlight">We are always looking for new volunteers. <br>Please click below to <span class="homepage">register for emails</span> about our upcoming events and volunteer opportunities.</p>

	<a href="/reg_users/new">Click here to register.</a>
</div>

