<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div>
        <%= image_tag attachments['impact-red-logo.svg'].url %>
    </div>
    <h1>Thanks for volunteering, <%= @reg_user.first_name %></h1>
    <p>
        Thank you for signing to be a volunteer for impact! Every volunteer helps us to make a difference.
    </p>
    <p>    
        Click the link below to view events coming up.
        We will also email you future events that you can register to attend
    </p>
    <div>
        <%= "#{ENV['HOST']}/events" %>
    </div>
    <small>(or copy and paste the link into your browser).</small>
    <div>
        <h1>Need help?</h1>
        <p>If you require any assistance, or have any questions, please contact: help@imact.org.au</p>
    </div>

    <p>
        Best regards,
    </p>
    <p>
        The Impact Team
    </p>

    <div>
        <span>&copy; 2018 Copyright Impact  - Terms and Conditions - Privacy Policy</span>
        <span>Unsubscribe</span>
    </div>

  </body>
</html>