<div class="rego-wrapper">
  <p class="rego">Welcome back Admin</p>




  <%= form_for(:session, url: sessions_path) do |f| %>
    <div>
   
      <%= f.email_field :email, placeholder:'email' %>
    </div>
    <div>
  
      <%= f.password_field :password,placeholder:'password' %>
    </div>
      <%= f.submit "Log in", :class => "reg-button" %>
    <% end %>
</div>