    <div>
        <span>&copy; 2018 Copyright Impact  - Terms and Conditions - Privacy Policy</span>
        <span><%= link_to "Unsubscribe", "#{ENV['HOST_URL']}/reg_users/#{uid}/unsubscribe" %></span>
    </div>