<div class="email-assist-wrapper">
    <div class="email-assist-image">
        <%= image_tag attachments['help.svg'].url %>
    </div>
    <div class="email-assist-text">
        <h1>Need help?</h1>
        <p class="email-assist-contact">If you require any assistance, or have any questions, please contact: help@impact.org.au</p>
    <div>
</div>