<div class="email-assist-wrapper">
    <h1>Need help?</h1> 
    <div class="email-assist-image"><%= image_tag attachments['help.svg'].url %></div>
    
    <p class="email-assist-contact">If you require any assistance, or have any questions, please contact: help@impact.org.au</p>
</div>