
    <div class="email-footer">
        <span>&copy; 2018 Copyright Impact  -
            <span class="privacy-policy">Terms and Conditions - Privacy Policy</span>
        </span>
        <span class="unsubscribe-link"><%= link_to "Unsubscribe", "https://#{ENV['HOST_URL']}/reg_users/#{uid}/unsubscribe" %></span>
    </div>