<p>We love welcoming new volunteers, register here to see and join all our events:</p>

<div class="container">

 <div class="reg-form">
   <%= form_tag "/reg_users", method: 'post' do %>
  
     <p>
       <label for="">'First name'</label>
       <input class="first_name"type="text" name="first_name">
     </p>
     <p>
       <label for="">Last name</label>
       <input class="last_name" type="text" name="last_name">
     </p>
     <p>
       <label for="">Enter your email address</label>
       <input class="email" type="text" name="email">
     </p>
     <p>
       <label for="">Are you under 16 years?</label>
       <input class="terms" type="radio" name="terms">
     </p>
     <p>
       <label for="">What school do you go to?</label>
       <input class="school" type="text" name="school">
     </p>
     <p>
       <label for="">Enter your school's suburb</label>
       <input class="suburb" type="text" name="suburb">
     </p>
      <p>
       <label for="">Best contact number</label>
       <input class="number" type="number" name="contact_num">
     </p>
       <button class="reg-button">Register</button>
   <% end %>
 </div>

</div>