<div class="login-title">
    <h1 class="h1-login">signup</h1>
</div>

<div class="box-container">
    <%= form_tag "/admin_users", method: 'post' do %>
        <label class="form-label"for="">email </label>
        <input class="input-box" type="text" name="email">

        <label class="form-label" for="">password</label>
        <input class="input-box" type="password" name="password">

        <button class="submit-btn">sign up</button>
    <% end %> 
</div>