.hidden {
  display: none;
}

.pointer {
	cursor: pointer;
}

/*homepage styles*/

h1.homepage  {
	color: #FC0D1B;
	text-transform: uppercase;
	letter-spacing: 0.4em;
}

.homepage-wrapper {
	text-align: center;
}

.homepage-wrapper p {
	width: 50%;
	margin: 30px auto;
}

.highlight {
	font-size: 1.5em;
}

span.homepage {
	font-weight: bold;
}

.reg-button {
	text-decoration: none;
	padding: 1em;
	background-color: #FC0D1B;
	border-radius: 5px;
	color: white;
	font-family: inherit;
}

.reg-button:hover {
	color: #FC0D1B;
	border: 1px solid #FC0D1B;
	background-color: white;
	cursor: pointer;
}

/*rego styles*/
p.rego {
	width: 50%;
	margin: 30px auto;
	text-align: center;
}

.rego-wrapper {
	font-size: 1.5em;
	text-align: center;
}

.rego-wrapper form {
	text-align: center;
}

.rego-wrapper input {
	text-align: center;
	padding: 0.4em;
	border-radius: 5px;
    margin: 5px;
    width: 35%;
    font-size: 0.8em;
}

#sixteen {
    width: 5%
}

/*styling for event create*/

.event-new,
.event-edit {
	text-align: center;
}

.event-new form, 
.event-edit form {
	text-align: center;
	font-size: 1.5em;
}

.event-new input,
.event-edit input {
	text-align: center;
	padding: 0.4em;
	border-radius: 5px;
    margin: 5px;
    width: 35%;
    font-size: 0.8em;
}

#event_address, 
#event_description {
	font-size: 0.8em;
	padding: 0.4em;
	width: 35%;
	border-radius: 5px;
	text-align: center;
}

#event_date_time_1i,
#event_date_time_2i,
#event_date_time_3i,
#event_date_time_4i,
#event_date_time_5i {
	font-size: 0.8em;
	margin-bottom: 10px;
}

/*styling for event edit*/

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	.homepage-wrapper {
		font-size: 2em;
	}

	.homepage-wrapper p {
		width: 80%;
	}

}

