.user-wrapper{
  text-align: center;
}

.user-details{
  display: inline-block; 
  text-align: left;
  width: 30%;
}

.user-edit-sub li {
  list-style: none;
  margin: 30px auto;
  padding: 0;
}

ul.user-edit-sub {
  padding-left: 0;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	.user-wrapper {
		font-size: 2em;
	}

	.user-wrapper p {
		width: 80%;
	}
}

