<h3> Attendees </h3>

<div class="attendees">
  <% @event.rsvps.each do |r| %>
    <%= r.fullname %>
    <%= r.email %>
    <%= r.phone %>
  
    
    <input type="checkbox" value="Attending">
    <label for="">Mark as attending</label>

    <% end %>
</div>

<div>
  <a href="#">View registered volunteers without rsvp</a>
</div>

<div>
  <a href="#">New volunteer registration</a>
</div>
